{% extends 'base.html.twig' %}

{% block title %}Dissmar | Accueil
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row" style="background-color: #FC0;">
			<div class="col-4 text-center">Conseil et Stratégies</div>
			<div class="col-4 text-center">Design Graphique</div>
			<div class="col-4 text-center">Marketing Digital</div>
		</div>
	</div>
{% endblock %}
