<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<!-- Font Awesome -->
		<link
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
		<!-- Google Fonts -->
		<link
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
		<!-- MDB -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet"/>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
		href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<!-- MDB -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<style>
			body {
				font-family: 'Montserrat', sans-serif;
			}
		</style>
	</head>
	<body>
		<nav
			class="navbar navbar-expand-lg navbar-light" style="background-color: #000;">
			<!-- Container wrapper -->
			<div class="container-fluid">
				<a class="mx-2" href="{{path('app_home')}}"><img src="{{asset('images/logo.png')}}" width="60"></a>
				<!-- Toggle button -->
				<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarRightAlignExample" aria-controls="navbarRightAlignExample" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fas fa-bars"></i>
				</button>
				<!-- Collapsible wrapper -->
				<div
					class="collapse navbar-collapse" id="navbarRightAlignExample">
					<!-- Left links -->
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active text-white mx-2" aria-current="page" href="#">Accueil</a>
						</li>
						<!-- Navbar dropdown -->
						<li class="nav-item dropdown">
							<a class="text-white nav-link dropdown-toggle mx-2" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
								Nos services
							</a>
							<!-- Dropdown menu -->
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="#">Action</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">Another action</a>
								</li>
								<li><hr class="dropdown-divider"/></li>
								<li>
									<a class="dropdown-item" href="#">Développement Web</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white mx-2">Portfolio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white mx-2">Contact</a>
						</li>
					</ul>
					<!-- Left links -->
				</div>
				<!-- Collapsible wrapper -->
			</div>
			<!-- Container wrapper -->
		</nav>

		<div class="container-fluid"> {% block body %}{% endblock %}
			</div>
		</body>
	</html>
